<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.herprogramacion.restaurantericoparico">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->


    <!-- Permisos MAPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- EXTERNAL_STORAGE permissions are optional for AndroAIzaSyCsOdB3mIUGnSTZs7LHVBK1y6s0idNFEdk	id 6.0 onwards. -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />

    <!-- Permisos BookList -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RicoPaRico">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCsOdB3mIUGnSTZs7LHVBK1y6s0idNFEdk" />

        <activity
            android:name=".activities.comida.ActividadPrincipal"
            android:label="@string/app_name"
            android:theme="@style/Theme.ConNavigationDrawer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.comida.ActividadConfiguracion"
            android:label="@string/titulo_actividad_configuracion"
            android:parentActivityName=".activities.comida.ActividadPrincipal">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.comida.ActividadPrincipal" />
        </activity>
        <activity
            android:name=".activities.comida.ActividadDetallesInicio"
            android:label="@string/title_activity_actividad_detalles_inicio"
            android:parentActivityName=".activities.comida.ActividadPrincipal">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.herprogramacion.restaurantericoparico.activities.comida.ActividadPrincipal" />
        </activity>
        <activity
            android:name=".activities.maps.LocationActivity"
            android:label="@string/lite_demo_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.herprogramacion.restaurantericoparico.activities.comida.ActividadPrincipal" />
        </activity>
        <activity
            android:name=".activities.libros.PeliculasActivity"
            android:label="@string/item_peliculas">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.herprogramacion.restaurantericoparico.activities.comida.ActividadPrincipal" />
        </activity>
        <activity
            android:name=".activities.libros.BookDetailActivity"
            android:label="@string/item_peliculas">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.herprogramacion.restaurantericoparico.activities.libros.PeliculasActivity" />
        </activity>
        <activity android:name=".activities.database.SQLITE.TareasSQLiteActivity"
                android:label="@string/app_name">
        </activity>
        <activity android:name=".activities.database.SQLITE.Details"
            android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>
    </application>

</manifest>